<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMW Motorcycles</title>
    <link rel="stylesheet" href="./css/bmw.css">
</head>
<body>
    <div class="image-container">
      <img
        src="/storage/img/imageRaceFirstSection.jpg"
        class="background-image"
      />
      <div class="background-image-overlay"></div>
      <!-- Capa oscura -->
    </div>
    <header class="header__index">
      <nav class="headerNav__index">
        <div class="header__logo">
          <img src="../storage/img/logo.png" />
          <h1>MyMotorcycle.com</h1>
        </div>
        <div class="header__links">
          <a href="/index.html">Home</a>
          <a href="/index.html#brands">Motorcycle brands</a>
          <a href="#">Contact</a>
        </div>
        <div class="header__search">
          <input type="text" placeholder="Search your next motorcycle..." />
        </div>
      </nav>
    </header>
    <main>
      <section class="section_infoBmwS1000rr">
        <div class="infoBmwS1000rr">
          <img src="../storage/img/BMW__M1000RR.png" class="BmwS1000rrImage" />
          <img src="storage/img/TextDucati.png" class="BmwS1000rrText" />
        </div>
        <div class="infoBmwS1000rr__texts">
          <h3>BMW S1000RR</h3>
          <p>
            The 2015 BMW S1000RR is a high-performance sportbike with aggressive styling, a 999cc inline-four engine (199 hp), and advanced electronics. Its lightweight frame, traction control, and riding modes ensure top-tier handling and speed.
            </p>
        </div>
      </section>
      <section class="section_motorcycleType">
        <h2>Types of BMW Motorcycles</h2>
        <div class="typesOfBMW">

        </div>
      </section>
</body>
</html>