<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>View Data</title>
  <link rel="stylesheet" href="./css/contact.css" />
  <script src="../js/contact.js" defer></script>
</head>
<body>
  <h1>Messages sent by users</h1>
  <div class="container__buttons">
    <button id="clearAllBtn" class="clearAllBtn">Delete all ❌</button>
    <a href="../index.html" class="return__index">⬅️ Return to the main page</a>
  </div>
  <div id="viewDataResult" class="viewDataResult"></div>

  </div>
</body>
</html>
