<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <title>KTM</title>
    <link rel="stylesheet" href="css/ktm.css">
    <script src="js/apiData.js" defer type="module"></script>
  </head>
  <body>
    <div class="image-container">
      <img
        src="../storage/img/ktmBackground.png"
        class="background-image"
      />
      <div class="background-image-overlay"></div>
    </div>
    <header class="header__index">
      <nav class="headerNav__index">
        <div class="header__logo">
          <img src="../storage/img/logo.png" />
          <h1>MyMotorcycle.com</h1>
        </div>
        <div class="header__links">
          <a href="../index.html">Home</a>
          <a href="../index.html#brands">Motorcycle brands</a>
          <a href="#models">KTM models</a>
          <a href="../index.html#contact">Contact Us</a>
        </div>
      </nav>
    </header>
    <main data-make="ktm">   
      <!-- NO OLVIDAR MODIFICAR ESTA LINEA DE CODIGO -- API INFO -->
      <section class="section_infoAboutMotorcycle">
        <div class="infoAboutMotorcycle">
          <img src="../storage/img/2018-KTM-1290-SUPER-DUKE-R Background Removed.png" class="motorcycleImage" />
          <img src="../storage/img/TextKtm.png" class="motorcycleText" />
        </div>
        <div class="infoAboutMotorcycle__texts">
          <h3>1290 Super Duke R</h3>
          <p>
            The KTM 1290 Super Duke R, also known as "The Beast," is a high-performance naked bike built for pure adrenaline. Powered by a monstrous 1301cc V-twin engine, it delivers explosive power, sharp handling, and cutting-edge electronics.             </p>
        </div>
      </section>
      <section class="section_motorcycleType" id="models">
        <h2>Models of KTM Motorcycles</h2>
        <div class="header__search">
          <input id="searchInput" type="text" placeholder="Search by motorcycle model..." />
        </div>
        <div class="typesOfMotorcycles" id="typesOfMotorcycles">
        </div>
      </section>
      </main>
      <footer>
        <div class="div__footer">
          <a href="https://github.com/JhonIsaacMedinaMendoza08" target="_blank"
            >By: Jhon Isaac Medina Mendoza
          </a>
          <p>2025</p>
          <a href="https://www.facebook.com/JhonIsaacMedina" target="_blank"
            ><img src="../storage/img/Facebook_Logo.png" alt=""
          /></a>
          <a href="https://www.instagram.com/isaacmedinam/" target="_blank"
            ><img src="../storage/img/Instagram_icon.png" alt=""
          /></a>
          <a href="https://github.com/JhonIsaacMedinaMendoza08" target="_blank"
            ><img src="../storage/img/git hub.png" alt=""
          /></a>
        </div>
      </footer>
</body>
</html>




